html{
    font-family: "Roboto", sans-serif;
}

.negrita{
    font-weight: bold;
}

.negrita-cursiva{
    font-weight: bold;
    font-style: italic;
}

.sidebar-nav{
    height: 100%;
    width: 180px;
    background-color: #131313;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.iconos{
    display: flex;
    flex-direction: column;
    position: relative ;
    top: 40px;
}

.sidebar-nav i{
    margin: 5px 30px;
    padding: 5px;
    width: 20px;
    height: 20px;
    color: black;
    background-color: white;
    border-radius: 50%;
    text-align: center;
}

.sidebar-nav h2{
    color: white;
}

.sidebar-nav p{
    color: white;
    padding-left: 30px;
    padding-bottom: 30px;
    font-size: 11px;
    text-align: left;
}

.sidebar-nav h2{
    padding: 10px 30px;
    font-size: 25px;
}

.contenedor-main{
    margin-left: 230px;
    padding: 0 10px;
}

.navs{
    display: flex;
    flex-direction: column;
    /* VER ACA EL FLEX HACE QUE EL CONTENEDOR DE CADA "a" SE VAYA AL MANGO DEL NAVS, ENTONCES POR ESO LA LINEA SE VA AL FONDO */
}

.navs a{
    color: white;
    padding: 0 0 10px 30px;
    text-decoration: none;
    font-size: 14px;
    display: block;
    position: relative;
    white-space: nowrap;
}

.navs a::after{
    content: '';
    position: absolute;
    height: 2px;    
    left: 25px;
    background-color: rgb(255, 164, 29);
    width: 0;
    transition: all 0.3s ease-in-out;
    transform: translateY(350%);
}

.navs a:hover::after{
    width: 100%;
}

.contenedor-hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.imagen{
    width: 50%;
}
.imagen-perfil{
    width: 353px;
    height: 431px;
}

.minombre{
    width: 400px;
    height: 250px; 
    text-align: left;
    padding-top: 130px;
    position: relative;
}

h1{
    font-size: 50px;
    font-weight: 200;
    font-family: "Noto Sans Shavian", sans-serif;
}

.semicirculo{
    /* VER POSICION NO PUEDE IR MAS A LA IZQ*/
    /* ES POR EL ALING ITEMS CENTER, SE RESUELVE DSP CUADNO PONGA IMAGEN*/
    width: 200px;
    height: 200px;
    background: linear-gradient(to left,#a719ee, #ffa51d);
    position: absolute;
    top: 60px;
    right: 100px;
    left: 0;
    bottom: 0;
    border-radius: 50%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 10%, 0% 30%);
    transform: rotate(160deg);
    z-index: -1;
    overflow: hidden;
}

.presentacion h4{
    font-size: 20px;
    font-weight: 400;
}

.talk{
    margin-top: 10px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    border-radius: 3px;
    position: relative;
    right: 100px;
}

.talk h5{
    color: white;
}

.flecha{
    margin-left: 10px;
    width: 20px;
    height: 20px;
    color: white;
    background: linear-gradient(to right,#a719ee, #ffa51d);
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacto{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 30px;
    padding-top: 20px;
}

.contacto div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
    font-weight: bold;
    font-style: italic;
}


.i-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background-color: #f3f3f3;
    border-radius: 50%;
}
/* HERO */

/*ABOUT*/
h2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.bienve{
    width: 100%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
}

.bienve h2{
    margin: 0;
    margin-top: 50px;
}

.bienve h5{
    margin: 0;
}

.about-head{
    display: flex;
    border: 1px solid;
}

.head-yo{
    width: 50%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head-data{
    width: 50%;
    padding: 10px;
    padding-right: 30px;
}

.circulo{
    width: 200px;
    height: 200px;
    background: linear-gradient(to right,#a719ee, #ffa51d);
    border-radius: 50%;
    position:static   ;
    z-index: -1;
    clip-path: polygon(0% 70%, 100% 40%, 100% 100%, 0% 100%);
}

/*VER POSICION*/
.imagenmascirculo{
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 1;
    clip-path: circle(55% at 40% 40%);
}

.puntos{
    width: 30px;
    height: 30px;
    background-image: radial-gradient(black 15%, transparent 16%);
    background-size: 10px 10px
}

.yo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto-color{
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    background: linear-gradient(to right,#a719ee, #ffa51d);
    background-clip: text;
    color: transparent;
    margin: 0;
}

.yo h3{
    padding-top: 20px;
}

.yo h5{
    font-size: 16px;
    font-weight: 400;
    margin: 0;   
}

.descargarCV{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.descargarCV a{
    font-size: 14px;
    color: black;
}

.head-data{
    display: flex;
    flex-direction: column;
}

.data-informacion{
    display: flex;
    flex-wrap: wrap;
}

.contenedor-data{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.exp-años{
    width: 50%;
}

.exp-clientes{
    width: 50%;
}

.data-exp{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contenedor-exp{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 40%;
    height: 50%;
    align-items: center;
    padding-right: 10px;
}

.subcontenedor-exp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.subcontenedor-exp h3{
    margin-right: 10px;
}

.contenedor-exp .texto-color{
    font-size: 14px;
    font-weight: 500;
}

hr{
    border: 1px solid #e7e7e7;
}

.head-data p, h4{
    font-size: 14px;
}

.frase{
    margin-top: 50px;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 20%;
    border-radius: 3px;
}

.frase i{
    margin: 10px;
    color: #414141;
    padding-right: 10px;
    font-size: 60px;
}

.frase p{
    color: white;
    font-size: 12px;
    font-style: italic;
}

.about-foot{
    height: 500px;
    background: linear-gradient(to right,#a719ee, #ffa51d);
    display: flex;
    flex-direction: row;
}

.exp{
    width: 50%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.exp h5{
    color: white;
}

.exp h3{
    margin: 0;
    font-size: 35px;
    color: white;
}

.exp p{
    font-size: 13px;
    color: white;
    width: 350px;
}

.resumen{
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: center;
    width: 250px;
    height: 40px;
    border-radius: 3px; 
}